@import "./global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/navigation.css";

h1 {
  font-size: 3rem;
  text-align: center;
  color: lightpink;
}

nav a img {
  margin: 10px;
  padding: 3px;
  width: 50px;
}

.card img {
  position: absolute;
  top: px;
  right: 5px;
}

.hashtag {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  padding-top: 5px;
}
.hashtag p {
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
}
